/*------------------------------------*\
    #NAV
\*------------------------------------*/

nav {
	width: 100%;

	ul {
		@include no-margin-padding;
		@include no-bullets;

		li {
			display: inline;

			a {
				a {
			    color: $color-dark-blue;

			    &:hover {
			      color: $color-gray;
			    }
			  }
				svg {
			    fill: currentColor;
			    height: 10em;
					display: inline-block;
			  }
			}
		}
	}
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/

header img {
	width: 100%;
}
