/*------------------------------------*\
    #NAV
\*------------------------------------*/

.nav {
	width: 100%;
	height: auto;
	background: white;
	padding: 10px 0;
	margin: auto;
	position: fixed;
	top: 0;
	z-index: map-get($zindex, header);
	text-align: center;

	img {
		width: 50%;
		margin: 0 10px;
		vertical-align: -150%;
	}

	@media (min-width: 700px){
		img {
			width: 40%;
		}
	}

	@media (min-width: 800px){
		img {
			width: 35%;
		}
	}

	@media (min-width: 900px){
		img {
			width: 30%;
			margin: 0 20px;
		}
	}

	@media (min-width: 1060px){
		img {
			width: 25%;
		}
	}

	ul {
		width: 100%;
		height: auto;
		@include no-margin-padding;
		@include no-bullets;


		li {
			display: inline;
			width: 100%;
			padding: 0 20px;


			a {
		    color: $color-dark-blue;
				font-size: 1.4em;
				text-decoration: none;

			    &:hover {
			      color: $color-light-blue;
						opacity: 0.9;
			    }

				svg {
				    fill: currentColor;
						padding: 0;
			  	}
			}
		}
	}
}


/*------------------------------------*\
    #HEADER
\*------------------------------------*/

header img {
	width: 100%;
	margin-top: 100px;
}
