/*------------------------------------*\
    #NAV
\*------------------------------------*/

.nav {
	width: 100%;
	height: auto;
	background: white;
	padding: 10px 0;
	margin: auto;
	position: fixed;
	top: 0px;
	z-index: map-get($zindex, header);

	ul {
		width: 100%;
		height: auto;
		@include no-margin-padding;
		@include no-bullets;

		li {
			display: inline;
			width: 100%;
			padding: 0 20px;


			img {
				width: 25%;
			}

			a {
		    color: $color-dark-blue;
				font-size: 1.4em;
				text-decoration: none;
				vertical-align: 96%;

			    &:hover {
			      color: $color-light-blue;
						opacity: 0.9;
			    }

				/*	svg {
				    fill: currentColor;
				    height: 5.4em;
						display: inline;
						padding: 0;
			  	}*/
			}
		}
	}
}


/*------------------------------------*\
    #HEADER
\*------------------------------------*/

header img {
	width: 100%;
}
